/* Estilo da box de título (simula um botão) */



.survey-header {
  background-color: #f1f1f1c3; /* Cor de fundo cinza claro */
  color: #333; /* Cor do texto escuro */
  padding: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;  
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px; /* Bordas arredondadas */
  border: 3px solid #007bff; /* Borda azul-verde, mesma cor do botão */
  cursor: pointer; /* Muda o cursor para pointer (mãozinha) */
  transition: background-color 0.3s, transform 0.2s; /* Transição suave */
}

/* Efeito de hover - quando passar o mouse */
.survey-header:hover {
  background-color: #e0e0e0; /* Cor de fundo mais escura */
  transform: scale(1.05); /* Efeito de aumentar um pouco ao passar o mouse */
}

/* Título dentro do cabeçalho */
.survey-header h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}


.survey-header strong {
  color: #007bff; 
}

.back-home{background-color: #007bff; font-size: 14px;}

.back-home:hover {
  background-color: #0056b3;
}

.question-container {
  background-color: #f0f0f0;  /* Fundo cinza claro */
  border: 1px solid #000000;  /* Borda cinza suave */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.question-details {
  background-color: #fafafa;  /* Fundo ainda mais claro para os detalhes expandidos */
  padding: 10px;
  border-radius: 5px;
}

.question-container p {
  margin: 5px 0;
}

.question-container h3 {
  margin-bottom: 10px;
}

.download-button {
  width: 50px; /* Tamanho da largura */
  height: 50px; /* Tamanho da altura */
  padding: 5; /* Remover padding para garantir que a largura e altura sejam constantes */
  background-color: #007bff;
  position: absolute;
  right: 0;
  top: 50%;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: '5px 10px'; 
  margin-right: 15px;
  transform: 'translateY(-50%)';
}

.download-button:hover{
  
  background-color: #0056b3;

}

.redirect-div{

  display: flex;
    justify-content: space-between; /* Espaça os botões */
    gap: 10px; /* Espaçamento entre os botões */
    margin-bottom: 20px; /* Espaço inferior para separar dos elementos abaixo */
}

.questionario-button, .file-upload-button {
  padding: 10px 20px; /* Ajusta o tamanho do botão */
  font-size: 16px; /* Ajusta o tamanho da fonte */
  cursor: pointer; /* Adiciona cursor pointer ao passar o mouse */
  border: none; /* Remove bordas */
  border-radius: 5px; /* Borda arredondada */
  transition: background-color 0.3s ease; /* Efeito de transição no hover */
  height: 50px;
}

.questionario-button:hover, .file-upload-button:hover {
  background-color: #0056b3; /* Cor do fundo ao passar o mouse */
  color: white; /* Cor do texto no hover */
}


.delete-button {
  width: 50px; /* Tamanho da largura */
  height: 50px; /* Tamanho da altura */
  padding: 5; /* Remover padding para garantir que a largura e altura sejam constantes */
  background-color: #ff0000b4;
  position: absolute;
  right: 0;
  top: 50%;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: '5px 10px'; 
  margin-right: 75px;
  transform: 'translateY(-50%)';
}

.delete-button:hover{
  
  background-color: #ff0000;

}