/* Estilo da box de título (simula um botão) */
.survey-header {
  background-color: #f1f1f1c3; /* Cor de fundo cinza claro */
  color: #333; /* Cor do texto escuro */
  padding: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px; /* Bordas arredondadas */
  border: 2px solid #007bff; /* Borda azul-verde, mesma cor do botão */
  cursor: pointer; /* Muda o cursor para pointer (mãozinha) */
  transition: background-color 0.3s, transform 0.2s; /* Transição suave */
}

/* Efeito de hover - quando passar o mouse */
.survey-header:hover {
  background-color: #e0e0e0; /* Cor de fundo mais escura */
  transform: scale(1.05); /* Efeito de aumentar um pouco ao passar o mouse */
}

/* Título dentro do cabeçalho */
.survey-header h2 {
  margin: 0;
  padding: 0;
  font-size: 16px;
}


.survey-header strong {
  color: #007bff; 
}

.back-home{background-color: #007bff; font-size: 14px;}

.back-home:hover {
  background-color: #0056b3;
}

.question-container {
  background-color: #f0f0f0;  /* Fundo cinza claro */
  border: 1px solid #dcdcdc;  /* Borda cinza suave */
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.question-details {
  background-color: #fafafa;  /* Fundo ainda mais claro para os detalhes expandidos */
  padding: 10px;
  border-radius: 5px;
}

.question-container p {
  margin: 5px 0;
}

.question-container h3 {
  margin-bottom: 10px;
}

.download-button {
  width: 50px; /* Tamanho da largura */
  height: 50px; /* Tamanho da altura */
  padding: 5; /* Remover padding para garantir que a largura e altura sejam constantes */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 30%; /* Faz o botão redondo */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-button:hover{
  
  background-color: #0056b3;

}